<%= render "layouts/form_errors", object: @user %>

<%= form_for @user, url: signin_post_path do |f| %>
  <fieldset class="sessions_fieldset">
     <h3 class="form_head">Sign In</h3>

    <div>
      <%= f.label :username, "Username"%>
      <%= f.text_field :username, {class: "shadow"} %>
    </div>
    <div>
      <%= f.label :password, "Password"%>
      <%= f.password_field :password, {class: "shadow"} %>
    </div>
    <div>
      <%= f.submit "Sign In", {class: "shadow"} %>
    </div>
  </fieldset>
<% end %>

<%= link_to "Sign In with Facebook!", '/auth/facebook', {class: "facebook_signin"} %>