<%= render "layouts/form_errors", object: @user %>

<%= form_for @user, url: signup_post_path do |f| %>
  <fieldset class="sessions_fieldset">
    <h3 class="form_head">Sign Up</h3>

    <div>
      <%= f.label :username, "Username"%><br>
      <%= f.text_field :username, {class: "shadow"} %>
    </div>
    <div>
      <%= f.label :email, "Email"%><br>
      <%= f.email_field :email, {class: "shadow"} %>
    </div>
    <div>
      <%= f.label :password, "Password"%><br>
      <%= f.password_field :password, {class: "shadow"} %>
    </div>
    <div>
      <%= f.label :password_confirmation, "Password Confirmation"%><br>
      <%= f.password_field :password_confirmation, {class: "shadow"} %>
    </div>
    <div>
      <%= f.submit "Sign Up", { class: "shadow" } %>
    </div>
  </fieldset>
<% end %>