<h1>Participant Details -
  <%= link_to "edit", edit_participant_path(@participant) %> |
  <%= link_to "delete", participant_path(@participant), method: :delete, data: { confirm: "Are you sure?"} %>
</h1>


<h3>Nickname: <%= @participant.nickname %></h3>
<h3>First Name: <%= @participant.first_name %></h3>
<h3>Last Name: <%= @participant.last_name %></h3>
<h3>Email: <%= @participant.email %></h3>
<h3>Phone Number: <%= @participant.phone_number %></h3>
<br>

<% if @participant.events.any? %>
  <h1>Events</h1>
  <%= link_to "Load Events", participant_events_path(@participant), class: "load_events" %>
  <div class="events"> 
  </div>
<% else %>
  <h1>No events for this participant</h1>
<% end %>
