<%= render "layouts/form_errors", object: event %>

  <%= form_for event do |f| %>
  <fieldset>
    <%= f.hidden_field :location_id if @location %>
    <h3>Event Details</h3>
    <div>
      <%= f.label :name, "Name"%><br>
      <%= f.text_field :name %>
    </div>
    <br>
    <div>
      <%= f.label :start_time, "Start Time"%><br>
      <%= f.datetime_local_field :start_time, ampm: true %>
    </div>
    <br>
    <div>
      <%= f.label :end_time, "End Time"%><br>
      <%= f.datetime_local_field :end_time, ampm: true %>
    </div>
    <br>
    
    <% if !@location %>
      <h3>Location for this event</h3>
      <% if current_user.locations.any? %>
        <div>
          <%= f.label :location, "Choose an existing location: " %>
          <%= f.collection_select :location_id, current_user.locations, :id, :name, include_blank: true %>
          <p>OR</p>
        </div>
      <% end %>

      <%= f.fields_for :location, event.build_location do |location| %>
        <%= location.label :name, "Create a new location by entering a new name: " %>
        <%= location.text_field :name %>
      <% end %>
    <% else %>
      <h3><%= "Location: #{@location.name}" %></h3>
    <% end %>

    

    <h3>Participants for this event</h3>
    <p>You may also choose to add participants later</p>
    <% if current_user.participants.any? %>
      <div>
        <%= f.label :location, "Choose (an) existing participant(s): " %>
        <%= f.collection_check_boxes :participant_ids, current_user.participants, :id, :nickname %>
        <p>OR</p>
      </div>
    <% end %>

    <p>Create up to 25 new participants</p>
    <ol>
    <% 25.times do %>
      <%= f.fields_for :participants, event.participants.build do |participant| %>
        <li>
        <%= participant.label :nickname, "Nickname: " %>
        <%= participant.text_field :nickname %></li>
      <% end %>
    <% end %>
    </ol>
    <div>
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>