<div class="locations_index">
  <h1>Locations</h1>
  <p><%= link_to "+ New Location", new_location_path, class: "add_location shadow" %></p>

  <div class="quick_location shadow">
    <p>OR quickly create a new location</p>

    <%= form_for @location do |f| %>
      <div>
        <%= f.label :name, "Location Name"%><br>
        <%= f.text_field :name %>     
      </div>

      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <br>

  <% if !@locations.empty? %>
    <%= render "locations", locations: @locations %>
  <% end %>  
</div>