<h1>Location Details -
  <%= link_to "edit", edit_location_path(@location) %> |
  <%= link_to "delete", location_path(@location), method: :delete, data: { confirm: "Are you sure?  WARNING: This will also destroy all events that are associated with this location."} %>
</h1>

<div>
  <%= link_to "Previous Location", location_path(@previous), class: "load_previous", data: {indexes: @indexes, current: @location.id} %> |
  <%= link_to "Next Location", location_path(@next), class: "load_next", data: {indexes: @indexes, current: @location.id} %>
</div>

<h3 id="name">Name: <%= @location.name %></h3>
<h3 id="street_address">Street Address: <%= @location.street_address %></h3>
<h3 id="city">City: <%= @location.city %></h3>
<h3 id="state">State: <%= @location.state %></h3>
<h3 id="zipcode">Zipcode: <%= @location.zipcode %></h3>
<br>

<div class="location_events">
  <% if @location.events.any? %>
    <h1>Events</h1>
    <%= link_to "Load Events", location_events_path(@location), class: "load_events" %>
    <div class="events"> 
    </div>
  <% else %>
    <h1>No events at this location</h1>
  <% end %>
</div>