<nav>
  <ul>
    <% if signed_in? %>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Participants", participants_path %></li>
      <li><%= link_to "Locations", locations_path %></li>
      <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Sign In", signin_path %></li>
    <% end %>
  </ul>
</nav>